// colors
$purple: #9849c5;
$red: #d12c48;

$color-main: $purple;
$color-text: #37343e;
$color-placeholder-text: rgba(57, 57, 57, 0.4);
$color-border: rgba(0,0,0,.07);
$color-border-input: rgba(0,0,0,.13);
$color-highlight: #f2f3fb;
$color-body-bg: white;

// misc
$spacing: 16px;
$radius: 15px;
$shadow: 0 0 5px rgba(0,0,0,.15);
$scrollbar-size: 7px;
$input-height: 42px;
